@CHARSET "UTF-8";

#header-link {
	width: 100%;
	/* z-index: 999; */
	background: #f8f8f8;
}

.api-title {
	width: 100%;
	/* z-index: 999; */
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	background: #f8f8f8;
}

.info-table>tbody>tr>th {
	background: #D9F5FE;
	color: #555555;
	width: 20%;
}

.divider {
	background: #555555;
	color: #F0F0F0;
	font-weight: bold;
	text-shadow: black 0px -1px 0px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}