<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/data/mongo 
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
    ">

	<!-- 配置mongodb连接池 ,创建mongoClient实例 -->
	<!-- 1.7版本+不支持mongo,支持mongo-client,options为client-options -->
	<!--如果需要验证,mongo-client需要加这句: credentials="${mongo.user}:${mongo.pwd}@${mongo.defaultDbName}" -->
	<!-- mini client -->
	<mongo:mongo-client id="mongoClient" host="${mongo.host}"
		port="${mongo.port}">
		<mongo:client-options write-concern="SAFE" />
	</mongo:mongo-client>

	<!-- Spring提供的mongodb操作模板 -->
	<mongo:db-factory id="mongoDbFactory" dbname="${mongo.defaultDbName}"
		mongo-ref="mongoClient" />
	<!-- <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"> 
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" /> </bean> -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongoClient"></constructor-arg>
		<constructor-arg name="databaseName" value="${mongo.defaultDbName}"></constructor-arg>
	</bean>

	<!-- MongoDB GridFS Template 支持，操作mongodb存放的文件 -->
	<mongo:mapping-converter id="converter"
		db-factory-ref="mongoDbFactory" base-package="com.csu.bio.frame.dao" />
	<mongo:gridFsTemplate id="gridFsTemplcate"
		db-factory-ref="mongoDbFactory" converter-ref="converter" />

	<!-- mongodb bean的仓库目录，会自动扫描扩展了MongoRepository接口的接口进行注入 -->
	<mongo:repositories base-package="com.csu.bio.frame.repository" />

	<!-- 线程池操作类 -->
	<bean id="threadPoolUtil" class="com.csu.bio.util.web.ThreadPoolUtil"
		init-method="init" destroy-method="destory"></bean>

</beans>