<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<prop key="kaptcha.border">no</prop>
						<prop key="kaptcha.border.color">105,179,90</prop>
						<prop key="kaptcha.textproducer.font.color">blue</prop>
						<prop key="kaptcha.image.width">70</prop>
						<prop key="kaptcha.textproducer.font.size">24</prop>
						<prop key="kaptcha.image.height">32</prop>
						<prop key="kaptcha.textproducer.char.space">1</prop>
						<prop key="kaptcha.textproducer.char.length">4</prop>
						<prop key="kaptcha.textproducer.font.names">Georgia, Verdana, Arial, Tahoma, Time News Roman,
							Courier New, Arial Black, Quantzite
						</prop>
						<prop key="kaptcha.word.impl">com.frft.xkaptcha.wordrender.NebulaWordRender
						</prop>
						<prop key="kaptcha.textproducer.char.string">2345678abcdefghjkmnpqrstuvwxyzABCDEFGHJKLMNPQRSTUVWXYZ
						</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>