<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd ">

	<!-- all properties -->
	<bean id="apiProperties" class="com.csu.bio.util.PropertyConfigurer">
		<property name="locations">
			<list>
				<value>classpath:umls.properties</value>
				<value>classpath:mygene.properties</value>
				<value>classpath:mongo.properties</value>
			</list>
		</property>
	</bean>

	<bean id="umlsProps" class="com.csu.bio.util.UMLSProps">
		<property name="host" value="${umls.user.apikey}" />
		<property name="port" value="${umls.user.username}" />
	</bean>
</beans>
