#parse("/WEB-INF/views/container/header.html")
<body>
	#parse("/WEB-INF/views/container/menu.html")
	<div class="container">
		<div class="G-MarginTop50">
			<div class="row">
				<h4>
					<strong class="text-uppercase"><span
						class="glyphicon glyphicon-info-sign"> </span>Introduction</strong>
				</h4>
				<hr class="G-MarginTop20">
				<p class="text-default alert alert-info G-MarginTop20 ldap-brief">Biodis
					is a disease integration database.</p>
				<p class="text-default alert alert-info G-MarginTop20 ldap-brief">Questions
					and comments on the tool and suggestions for improvement to the
					website are always welcome.</p>
				<hr class="G-MarginTop20">
				<h4>
					<strong><span class="glyphicon  glyphicon-envelope"></span>
						Please contact:</strong>
				</h4>
				<hr class="G-MarginTop20">
				<p>
					Kaijie Zhao:<a href="mailto:kay.zkj@csu.edu.cn">kay.zkj@csu.edu.cn</a>
				<p>
					Min Li: <a href="mailto:limin@mail.csu.edu.cn">limin@mail.csu.edu.cn</a>
			</div>
		</div>
		#include("/WEB-INF/views/container/footer.html")
	</div>
	<script type="text/javascript">
		jQuery.noConflict();
		(function($) {
		})(jQuery)
	</script>
</body>

</html>
