#parse("/WEB-INF/views/container/header.html")
<body>
	#parse("/WEB-INF/views/container/menu.html")
	<div class="container">
		<div class="main__banner G-MarginTop50">
			<h1>BioDis</h1>
			<h2>The Disease Integration Database</h2>
			<p id="button-wrap-inner">
				<a id="learnmore__btn_id" class="learnmore__btn" href="readme">Learn
					more</a> &nbsp;&nbsp;or&nbsp;&nbsp;<a id="try_api_btn_id"
					class="api__btn" href="api">Try live API now</a>
			</p>
			<!-- <p id="metadata_timestamp">
				Data last updated: <a href="http://mygene.info/v3/metadata">2017-01-08</a>
			</p> -->

			<hr class="G-MarginTop20">
			<div class="row">
				<strong class="text-uppercase"><span
					class="glyphicon glyphicon-info-sign"> </span>BioDis Introduction</strong>
				<p class="text-default alert  alert-warning G-MarginTop20 sys-brief">Long
					noncoding RNAs are a biggest class of non-coding RNA with greater
					than 200nt in length which can regulate gene expression in
					different levels including transcriptional, pos-transcriptional and
					epigenetic regulation. Identifing lncRNA-disease association would
					contribute to dissect the complex mechanisms of disease
					pathogenesis. Here, we developed a new lncRNA-disease association
					predictor, LDAP (lncRNA-disease association predictor), by
					integrating multiple biological data resources. The LDAP provides
					two ways to input your data: a lncRNA sequence or a txt file with
					multiple sequences with FASTA format.</p>
			</div>
		</div>
		#include("/WEB-INF/views/container/footer.html")
	</div>
</body>
</html>
