<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>network visualization</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="icon" type="image/x-icon" href="${basepath}/favicon.ico">
<link rel="shortcut icon" href="${basepath}/favicon.ico"
	type="image/x-icon">
<!-- bootstrap相关组件 -->
<link rel="stylesheet"
	href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
<!-- 自定义基本CSS -->
<link rel="stylesheet" href="${basepath}/css/customer/biodis.css">
<link rel="stylesheet" href="${basepath}/css/base.css">
<link rel="stylesheet" href="${basepath}/css/customer/net.css">
<!-- font-awesome字体库 -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="${basepath}/css/plugins/bootstrap/bootstrapValidator.min.css"
	rel="stylesheet">
<!--bootstrap-select start-->
<link rel="stylesheet"
	href="${basepath}/css/plugins/bootstrap/bootstrap-select.min.css">
<!--bootstrap-select end-->
</head>
<body>
	#parse("/WEB-INF/views/container/menu.html")
	<div class="container">
		<!-- 内容 -->
		<div class="G-MarginTop20">
			<div class="center-block panel panel-info" style="width: 100%;">
				<div class="panel-heading">
					<h3 class="panel-title">NetworkVisualization</h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-warning">
						NOTICE: Enter or upload a list of identifiers which is a
						tab-delimited or space-delimited string for each row, for example:<br>
						<div style="margin-left: 60px;">
							P35202<br>P14164<br> P35202&#09;P14164<br>
							P35202&nbsp;Q04174<br>P35202&#09;Q04174<br>
						</div>
					</div>
					<form method="post" action="${basepath}/net/show"
						enctype="multipart/form-data">
						<div style="width: 600px; margin: 0 auto;">
							<label>Input Data</label><br>
							<textarea id="textData" name="inputData"
								class="form-control form-area" rows="8"></textarea>
							<div>
								<div style="float: left">
									<label><strong>OR</strong> upload your own file:</label> <input
										id="select-file" type="file" name="file">
									<div id="divFileupload">
										<input type="button" class="btn btn-info" id="btn-upload"
											value="select file"> <input id="filename"
											name="fileName" class="input-large" type="text"
											placeholder="the filename is..." readonly>
									</div>
								</div>
								<div style="float: right;">
									<input class="btn btn-success btn-submit" type="submit"
										id="sub-net" value="Visual">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		#include("/WEB-INF/views/container/footer.html")
	</div>
	<script type="text/javascript">
		jQuery.noConflict();
		(function($) {
			//根据用户上传文件名改变文本内容
			function fileChange() {
				var path = $("#select-file").val();
				var pos1 = path.lastIndexOf('/');
				var pos2 = path.lastIndexOf('\\');
				var pos = Math.max(pos1, pos2);
				if (pos < 0)
					$("#filename").val(path);
				else
					$("#filename").val(path.substring(pos + 1));
				//设定文本区域样式
				if ($("#filename").val() != "") {
					$("#textData").val("");
					$("#textData").css("border-color", "");
				}
			}
			$("#btn-upload").click(function() {
				$('#select-file').click();
			});
			$('#select-file').change(function() {
				var path = $("#select-file").val();
				var pos1 = path.lastIndexOf('/');
				var pos2 = path.lastIndexOf('\\');
				var pos = Math.max(pos1, pos2);
				if (pos < 0)
					$("#filename").val(path);
				else
					$("#filename").val(path.substring(pos + 1));
				//设定文本区域样式
				if ($("#filename").val() != "") {
					$("#textData").val("");
					$("#textData").css("border-color", "");
				}
			});
			$("#sub-net").click(function() {
				if ($("#filename").val() == "" && $("#textData").val() == "") {
					$("#textData").focus();
					$("#textData").css("border-color", "red");
					//恢复正常颜色
					//$("#textData").css("border-color","");
					return false;
				}
			});
			$("#textData").bind("input propertychange", function() {
				if ($("#filename").val() != "") {
					var fileBox = $("#select-file");
					fileBox.after(fileBox.clone().val(""));
					fileBox.remove();
					$("#filename").val("");
				}
				$("#textData").css("border-color", "");
			});
		})(jQuery)
	</script>
</body>
</html>