<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>network visualization</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="icon" type="image/x-icon" href="${basepath}/favicon.ico">
<link rel="shortcut icon" href="${basepath}/favicon.ico"
	type="image/x-icon">
<!-- bootstrap相关组件 -->
<link rel="stylesheet"
	href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
<!-- 自定义基本CSS -->
<link rel="stylesheet" href="${basepath}/css/customer/biodis.css">
<link rel="stylesheet" href="${basepath}/css/base.css">
<link rel="stylesheet" href="${basepath}/css/customer/net.css">
<!-- font-awesome字体库 -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="${basepath}/css/plugins/bootstrap/bootstrapValidator.min.css"
	rel="stylesheet">
<!--bootstrap-select start-->
<link rel="stylesheet"
	href="${basepath}/css/plugins/bootstrap/bootstrap-select.min.css">
<!--bootstrap-select end-->
</head>
<body>
	#parse("/WEB-INF/views/container/menu.html")
	<div class="container">
		<!-- 内容 -->
		<div class="container main">
			<div class="mainContent">
				<!-- 网络图展示 -->
				<div class="G-MarginTop20">
					<nav class="navbar navbar-default navbar-static">
					<div class="navbar-header">
						<a class="navbar-brand text-info" href="javascript:void(0);">Network
							Visualization</a>
					</div>
					<div class="collapse navbar-collapse bg-info">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a id="drop2" href="#"
								class="dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false"> <span
									class="glyphicon glyphicon-cog" aria-hidden="true"></span>
									Layout&nbsp; <span class="caret"></span>
							</a>
								<ul class="dropdown-menu" aria-labelledby="drop2">
									<li><button type="button"
											class="btn btn-default btn-block btn-layout"
											style="border: 0" value="circle">Circle(default)</button></li>
									<li><button type="button"
											class="btn btn-default btn-block btn-layout"
											style="border: 0" value="grid">Grid</button></li>
									<li><button type="button"
											class="btn btn-default btn-block btn-layout"
											style="border: 0" value="concentric">Concentric</button></li>
									<li><button type="button"
											class="btn btn-default btn-block btn-layout"
											style="border: 0" value="breadthfirst">Breadthfirst</button></li>
									<li><button type="button"
											class="btn btn-default btn-block btn-layout"
											style="border: 0" value="cose">CoSE</button></li>
									<li><button type="button"
											class="btn btn-default btn-block btn-layout"
											style="border: 0" value="preset">Preset</button></li>
									<li><button type="button"
											class="btn btn-default btn-block btn-layout"
											style="border: 0" value="random">Random</button></li>
								</ul></li>
							<li class="dropdown"><a id="btn-export"
								class="btn btn-block" style="border: 0" role="button"
								aria-haspopup="false" aria-expanded="false"> <span
									class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
									Export
							</a></li>
						</ul>
					</div>
					</nav>
					<div style="width: 100%; border: 1px solid #bce8f1;">
						<div id="cy"
							style="width: 100%; height: 618px; background-color: #FFF;"></div>
					</div>
				</div>
			</div>
		</div>
		#include("/WEB-INF/views/container/footer.html")
	</div>
	<script src="${basepath}/js/plugins/cyto/cytoscape.min.js"></script>
	<script type="text/javascript">
		jQuery.noConflict();
		(function($) {
			//创建一个Cytoscape样式
			var cy = null;
			var cystyle = [ {
				selector : 'node',
				style : {
					'content' : 'data(id)',
					'text-valign' : 'top',
					'text-halign' : 'center',
					'shape' : 'circle',
					'height' : 20,
					'width' : 20,
					'background-color' : '#63B8FF',
					'color' : '#777'
				}
			}, {
				selector : 'edge',
				style : {
					'label' : 'data(label)',
					//'color' : 'red',
					'edge-text-rotation' : 'autorotate',
					'curve-style' : 'haystack',
					'haystack-radius' : 0,
					'width' : 1,
					'opacity' : 1,
					'line-color' : '#000'
				}
			}, {
				selector : ':selected',
				style : {
					'background-color' : '#FFFF00',
					'line-color' : '#FF0000'
				}
			} ];
			var netData = JSON.parse('${net}');
			cy = cytoscape({
				container : document.getElementById('cy'),
				userZoomingEnabled : true,
				userPanningEnabled : true,
				boxSelectionEnabled : true,
				autounselectify : false,
				hideLabelsOnViewport : true,
				wheelSensitivity : 0.4,
				layout : {
					name : 'circle'
				},
				style : cystyle,
				elements : netData
			});
			$(".btn-layout").click(function() {
				cy.layout({
					name : $(this).val()
				});
			});
			$("#btn-export").click(function() {
				//先发出请求保存图片数据，再进行发出下载请求
				var png64 = cy.png();
				$.ajax({
					type : "POST",
					url : "${basepath}/net/decodepng",
					data : {
						png : png64
					},
					dataType : "json",
					success : function(data) {
						if (data == "ok") {
							location.href = "${basepath}/net/downloadpng";
						}
					}
				});
			});
		})(jQuery)
	</script>
</body>
</html>